<div class="avatardiv">
  <img class="avatar" src="https://media.licdn.com/mpr/mpr/wc_200_200/p/7/005/075/2d5/102512b.jpg">
</div>
<% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %>
